.burger {
    display: none;
  }

  .dropdown:active {
    transform: translateX(0%);
  }

  @media screen and (max-width: 990px) {
    .header {
      margin: 0 5% 0 5%;
    }
  
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      overflow-x: hidden;
    }
  
    .dropdown {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      top: 10%;
      right: 28%;
      transform: translateX(100%);
    }
  
    .dropdown ul {
      opacity: 0;
    }
  
    .submenu ul {
      position: fixed;
      margin-top: 0rem;
      width: 15%;
      left: 75%;
      flex-direction: column;
    }